:root {
    /* Color Pallettes */
    --clr-ivory: #f2efde;
    --clr-bone: #E9D5C6;
    --clr-outerSpace: #1b2622;
    --clr-highland: #758B5b;
    --clr-boulder: #747474;

    /* Font Weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    /* Font Family */
    --ff-accent:  'Cormorant Infant', serif;
    --ff-base:  'Noto Sans', sans-serif;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

body {
  background: var(--clr-outerSpace);
  font-family: var(--ff-base);

}

button {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--clr-bone);
  color: var(--clr-bone);
  font-family: var(--ff-accent);
}

button:is(:hover, :active) {
  opacity: 0.3;
  transition: 0.2s;
}

section {
  height: 100vh;
}

.hero {
  position: relative;
  text-align: center;
  
  height: 100vh;
}

.hero::after {
  content:"";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(to bottom, rgba(0 0 0 / 0.1), var(--clr-outerSpace)), url("./assets/pictures/myProject.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: 3;
}


.hero-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;

  font-size: 2vmax;
  font-family: var(--ff-accent);

  z-index: 9;

  color: var(--clr-bone);

  height: 100vh;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-titles h1 {
    letter-spacing: 0.3rem;
    font-weight: var(--fw-600);
    font-size: 1.7em;
}

.hero-titles h3
{
  letter-spacing: 0.2rem;
  font-size: 1.75vmax;
}

.hero-titles button {
  font-size: 3vmin;

  margin-top: 20vh;
}



.invitation-details {
  padding: 3vmin;
  padding-top: 3vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.invitation-details-opening {
  color: var(--clr-ivory);
  font-weight: var(--fw-500);
  font-size: 0.75em;
  text-align: center;
}

.invitation-details-place {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.invitation-details-place h2 {
  font-family: var(--ff-accent);
  font-weight: var(--fw-600);
  color: var(--clr-bone);
  font-size: 2.5em;
}

.invitation-details-place p {
  font-weight: var(--fw-400);
  color: var(--clr-ivory);
  font-size: 0.9em;
  padding: 1em;
}

.invitation-details-place button {
  font-size: 1em;
}

.invitation-details-place::after {
  content: "";
  width: 80vw;
  height: 0.2vh;
  background: var(--clr-ivory);
  margin-top: 10vh;
  border-radius: 0.25rem;
}

.invitation-details-date {
  margin-top: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  text-align: center;
}

.invitation-details-date h2 {
  font-family: var(--ff-accent);
  color: var(--clr-bone);
  font-size: 1.8em;
}

.invitation-details-date h3 {
  color: var(--clr-ivory);
  font-size: 1em;
}

